
@font-face {
    font-family:Spartan;
    src: url(Fonts/Spartan-VariableFont_wght.ttf);
}

.top{
	font-weight: 500;
	color:white;
	display: inline-block;
	margin-inline: 50px;
	font-weight: 900!important;
}
.rt{
	display: inline-block;
}

.result{
	background-color: hsl(268, 71%, 12%);
	height: 120px;
	width:500px;
	border-radius: 5%;
	border: none;
    outline: none;
	margin-bottom: 10px;
	text-align:right;
	font-size: 50px;
	color:white;
	font-weight: 900;
	
}

.calculator{
	text-align: center;
	margin-top: -10px;
	padding-top: 110px;
	font-family: 'Spartan';
	
}

.button{
	font-size: 26px;
	background-color: hsl(30, 25%, 89%);
	line-height: 70px;
	width: 100px;
	height: 70px;
	margin:auto;
	border-radius: 10%;
	display: inline-block;
	text-align: center;
	margin-left: 5px;
  	margin-right: 5px;
	border-bottom: solid hsl(28, 16%, 65%);
	font-weight: 900;
    outline: none;
}

.special-button{
	font-size: 20px;
	line-height: 70px;
	margin:auto;
	border-radius: 10%;
	display: inline-block;
	text-align: center;
	margin-left: 5px;
  	margin-right: 5px;
	border-bottom: solid rgb(170, 169, 169);
    outline: none;
	font-weight: 900;
}
#EQUAL{
	width: 215px;
	height: 70px;
	background-color:  hsl(6, 63%, 50%);
	border-bottom: solid hsl(6, 63%, 50%);
	font-weight: 900;
	color:white;
}

#DEL{
	width: 100px;
	height: 70px;
	background-color:  hsl(225, 21%, 49%);
	border-bottom: solid hsl(224, 28%, 35%);
	font-weight: 900;
	color:white;
	font-size: 20px;
}

#RESET{
	width: 215px;
	height: 70px;
	background-color:  hsl(225, 21%, 49%);
	border-bottom: solid hsl(224, 28%, 35%);
	font-weight:900;
	color:white;
}

.button-box{
	
	background-color: hsl(223, 31%, 20%);
	padding-top: 30px;
	width:500px;
	height: 480px;
	border-radius: 2%;
	margin-left: auto;
	margin-right: auto;
	 
}